## FROM STEP 1

# full path to Android SDK directory   
ANDROID_SDK_HOME=

# full path to Android jar file (version corresponding to your apk target SDK level)
ANDROID_JAR=

# full path to the apk tool shell file
APKTOOL_HOME=

# full path to the aapt tool shell file (path depends on your SDK version)
AAPTTOOL_HOME=

# NOTE: Min and Max SDK levels can be found from the manifest file or (mostly)
# the web page of the application project.

# default is 16
MIN_SDK_LEVEL=

# default is 19
MAX_SDK_LEVEL=

# full path to the .apk file you want to instrument, e.g., "${PWD}/example"
APK_PATH=

## name of the APK file, e.g., "HelloWorldApp.apk" 
APK_NAME=

## FROM STEP 2

# The current configuration tests:
# PACKAGE_NAME="my.example.HelloWorld"
# MAIN_ACTIVITY="my.example.HelloWorld.MainActivity"

# If you want to test another application:
# Before building the test apk, make sure that you have provided:
# PACKAGE_NAME= # package name of your app into ......
# MAIN_ACTIVITY= # main activity name of your app ....
# NOTE: Package name and the main activity name can be found from the manifest file of the application project. 

## FROM STEP 3

# full path to your instrumented and signed application file
PATH_TO_SIGNED_APK="${PWD}/example/signed/HelloWorldApp.apk"

# full path to your signed tester application file
PATH_TO_SIGNED_TESTER="${PWD}/example/signed/TestApk-release-signed.apk"

# package name of your app
APK_PACKAGE_NAME="my.example.HelloWorld"
